body {
    height: 90vh;
}

.principal {
    height: 80%;
    width: 60%;
    margin: auto;
    /* background-color: skyblue; */
}

.titre_principal {
    display: flex;
    background-color: rgb(255, 248, 248);
    height: 50px;
    color: royalblue;
    font-weight: bold;
}

.la_pomme img {
    height: 70px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.menu li{
    list-style: none;
    width: 10%;

}
.contenu_principal {
    display: flex;
    color: rgb(163, 123, 117);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gauche {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.titre_gauche {
    font-size: 200%;
    margin: 40px 0px 0px 40px;
    
}
.image_gauche{
    margin: 0;
}
.image_gauche img{
    height: 40vh;
    margin: 0;
    margin-top: 18px;
}
.sous_total, .shipping, .total {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 2px rgb(255, 242, 238) solid;
    margin: 0px 0px 0px 40px;
    background-color: rgb(255, 248, 248);
    width: 30vh;
}
.sous_total {
    border-radius: 10px 10px 0 0;
    margin-top: 40px;
}
.total {
    border-radius:  0 0 10px 10px;
    font-weight: bold;
}
.droite {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.titre_progress {
    margin-top: 60px;
    margin-left: 100px;
    display: flex;
}
.valid{
    height: 25px;
    line-height: 25px;
    width: 25px;
    border: 4px black solid;
    border-radius: 50%;
    border-color: rgb(243, 180, 8);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(243, 180, 8);
}
.trait {
    height: 1px;
    width: 100px;
    border: 4px solid rgb(243, 180, 8);
    background-color: rgb(243, 180, 8);
    margin-top: 12px;
}
.trait2 {
    height: 1px;
    width: 100px;
    border: 4px solid rgb(243, 180, 8, 0.1);
    background-color: rgb(243, 180, 8, 0.4);
    margin-top: 12px;
}
.rondcreux {
    height: 25px;
    width: 25px;
    border: 4px solid;
    border-radius: 50%;
    border-color: rgb(243, 180, 8);
    background-color: rgb(255, 242, 238);

}
.rondplein {
    height: 25px;
    width: 25px;
    border: 4px solid;
    border-radius: 50%;
    border-color: rgb(243, 180, 8, 0.1);
    background-color: rgb(243, 180, 8, 0.3);

}
.legend {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 60px;
    list-style: none;
}
.cb {
    display: flexs;
    background-color: rgb(255, 242, 238);
    margin-right: 40px;
    border-radius: 10px;
}
.choix_cb {
    font-size: 100%;
    margin: 20px;
    font-weight: bold;
}
.ligne1 {
    display: flex;
    justify-content: space-around;
}
.visa{
    background-image: url("assets/visa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 200px;
    height: 50px;
    border-radius: 10%;
    
}
.applepay{
    background-image: url("assets/apple_pay.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 200px;
    height: 50px;
    border-radius: 10%;
    cursor: no-drop;
}
.paypal{
    background-image: url("assets/paypal.png");    
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 200px;
    height: 50px;
    border-radius: 10%;
    cursor: no-drop;
}
.card_number {
    font-size: 100%;
    margin: 20px 0 5px 20px;
    font-weight: bold;
}
.ligne2 {
    display: flex;
    margin-left: 20px;
}
.ligne2 input {
    width: 60px;
    height: 40px;
    border-radius: 20%;
    margin-right: 10px;
    text-align: center;
    
}
.titre_ligne3 {
    display: flex;
    font-weight: bold;
}
.titre_date { 
    margin-right: 130px;
    margin: 20px 0 5px 20px;
}
.titre_cvc {   
    margin-right: 130px;
    margin: 20px 0 5px 140px; 
}
.ligne3G {
    display: flex;
    margin: 0px 0 5px 20px;
}
.date_card{
    display: flex;
}
.mois input{
    width: 70px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20%;
    text-align: center;
}
.annee input{
    width: 70px;
    height: 40px;
    margin-right: 70px;
    border-radius: 20%;
    text-align: center;
}
.cvc {
    display: flex;
}
.cvc input {
    width: 70px;
    height: 40px;
    border-radius: 20%;
    text-align: center;
}
.titre_name {
    margin: 20px 0 5px 20px;
    font-weight: bold;
}
.name input {
    width: 270px;
    height: 40px;
    border-radius: 7%;
    margin: 0px 0 5px 20px;
}
.boutons {
    display: flex;
    justify-content: space-between;
    margin: 7px 20px 7px 20px;
}
.bt_return button{
    border-color: none;
    border-color: rgb(255, 248, 248);
    background-color: rgb(255, 248, 248);
    height: 30px;
    margin-top: 20px;
}
.bt_pay button{
    
    border-color: rgb(255, 253, 248);
    background-color: rgb(243, 180, 8);
    height: 70px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
}
